body {
    font-family: 'Source Sans Pro', sans-serif;
}

/* Typography */
.h1,
h1 {
    font-size: 4.25rem;
    line-height: 0.8;
}

.h2,
h2 {
    font-size: 2.75rem;
}

.h3,
h3 {
    font-size: 2.25rem;
}

.h4,
h4 {
    font-size: 1.5rem;
}

/* Button */
.btn-mediatech {
    border-radius: 30px;
}

.btn-mediatech-orange {
    background-color: #E54228;
    color: #FFFFFF;
}

.btn-mediatech-light-orange {
    background-color: #F7843A;
    color: #FFFFFF;
}

/* Color */
.text-mediatech-orange {
    color: #E03938;
}

.text-mediatech-pink {
    color: #FF3ED2;
}

.text-mediatech-purple {
    color: #D31C6C;
}

/* Card */
.card-mediatech {
    border-radius: 20px;
}

/* Carousel */
.carousel-indicators {
    position: relative;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

/* Our Product */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Why Us */
.dot {
    height: 30px;
    width: 30px;
    background-color: #E53F30;
    border-radius: 50%;
    display: inline-block;
}

.outer-dot {
    border-radius: 50%;
    width: 47px;
    height: 48px;
    border: 2px solid #DF3546;
    text-align: center;
}

/* Testimonial */
.testimonial .carousel-control-prev,
.testimonial .carousel-control-next {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    opacity: 1;
    cursor: pointer;
}

.testimonial .carousel .card img {
    width: 122px;
    height: 122px;
}

.logo {
    height: 62px;
}

.category-product {
    cursor: pointer;
    height: 260px;
}

.navbar,
.home-group-top,
.home-carousel,
.home-group-top .banner,
.home-group-top .about,
.home-group-top .our-product,
.home-group-bottom,
.career-group-top,
.career-group-top .banner,
.faq-group-top,
.faq-group-top .vision-mision,
.faq,
.faq-group-bottom {
    background-size: cover !important;
}

.home-group-top .home-carousel,
.home-group-top .testimonial,
.contact-us-bottom,
.career-group-top .banner,
.faq-group-top .vision-mision {
    height: 100vh;
}

.home-group-top .banner,
.faq-group-top .banner {
    height: 110vh;
}

.home-group-top .about,
.home-group-top .why-us {
    color: #FFFFFF;
}

.faq-group-top .banner img {
    width: 108%;
}

@media (max-width: 768px) {
    .h1,
    h1 {
        font-size: 3.75rem;
        line-height: 0.8;
    }

    .h2,
    h2 {
        font-size: 1.5rem;
    }

    .h3,
    h3 {
        font-size: 1.5rem;
    }

    .h4,
    h4 {
        font-size: 1rem;
    }

    .logo {
        height: 32px;
    }

    .about img,
    .go-to-shop img {
        height: 240px;
    }

    .category-product {
        height: 200px;
    }

    .home-group-top .about,
    .home-group-top .our-product,
    .home-group-top .why-us,
    .home-group-top .testimonial,
    .contact-us-bottom {
        height: auto;
    }

    .home-group-top .why-us {
        color: #000000;
    }

    .faq-group-top .banner img {
        width: 75%;
    }
}

@media (max-width: 576px) {
    .category-product {
        height: 150px;
    }
}